.App {
  text-align: center;
}

.welcomeMessage{
  margin-top: 25px;
  font-family: 'Nothing You Could Do', cursive;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #d0d0d0,
        0 0 40px #d0d0d0,
        0 0 80px #d0d0d0,
        0 0 90px #d0d0d0,
        0 0 100px #d0d0d0,
        0 0 150px #d0d0d0;
    font-size: 3rem;
    padding: 15px;
  text-transform: uppercase;
}


